<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtro Por Fecha</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
</head>
<boby>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Proyecto 3</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <form method="GET" action="/index/">
                {% csrf_token %}
                <li class="nav-item">
                  <button type="submit" class="nav-link active" aria-current="page">Home</button>
                </li>
              </form>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Filtros
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <form method="GET" action="/consulta/">
                    {% csrf_token %}
                    <li><button type="submit" class="dropdown-item">Consultar datos</button></li>
                  </form>
                  <form method="GET" action="/filtroFecha/">
                    {% csrf_token %}
                    <li><button class="dropdown-item" >Filtrar información por fecha y usuario</button></li>
                  </form>
                  <form method="GET" action="/filtroCodigo/">
                    {% csrf_token %}
                    <li><button class="dropdown-item">Filtrar por fecha y codigo</button></li>
                  </form>  
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ayuda
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Mostrar información</a></li>
                  <li><a class="dropdown-item" href="#">Documentación</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <br>
        <h1>Filtro por fecha</h1>
        <div class="row">
          <div class="col">
            <br>
            <br>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Fechas</label>
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Seleccione una fecha...</option>
                  {% for c, value in fecha.items %}
                    {% for x in value %}
                    <option id="selectDate" value="{{ x }}">{{ x }}</option>
                    {% endfor %}
                  {% endfor %}  
                </select>
            </div>

            <button type="submit" onclick="generateGraphic()" class="btn btn-primary">Generar grafica</button>
          </div>
          <div class="col">
            <br>
            <br>
            <canvas id="myChart"></canvas>
          </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script> 
    <script>
        let miCanvas = document.getElementById("myChart" ).getContext("2d")
        
        function generateGraphic(){
          datos = []
          labels = []
          let selectFecha = document.getElementById("inputGroupSelect01").value
          // console.log(selectFecha)

          $.ajax({
            url: "http://127.0.0.1:5000/mostrar",
            dataType: "json",
            type: "GET",
            success: function(data){
              var datax = JSON.parse(data)
              try{
                for (i=0; i<40; i++){
                  estadistica = datax.ESTADISTICAS.ESTADISTICA[i].FECHA
                  if (estadistica == selectFecha){
                      for (y=0; y<40 ; y++ ){
                          email = datax.ESTADISTICAS.ESTADISTICA[i].REPORTADO_POR.USUARIO[y].EMAIL
                          console.log(email)
                          labels.push(email)
                          cantidad = datax.ESTADISTICAS.ESTADISTICA[i].REPORTADO_POR.USUARIO[y].CANTIDAD_MENSAJES
                          datos.push(cantidad)
                          console.log(cantidad)
                      }
                     
                  }else{
                    continue
                  }
                }
              }catch(IndexError){
                  console.log(":)")
              }
             
            } 
              
          })
     
            var chart = new Chart(miCanvas, {
              type: 'bar',
              data:{
                  labels: labels,
                  datasets: [
                      {
                          label: "Grafica por fecha",
                          data: datos,
                          backgroundColor: ["orange", "blue", "green", "red", "pink", "black"]
                      }
                  ]
              }
            })
        }

     


    </script>
    </script>
</boby>
</html>